<div class="card">
    <div class="card-title mx-auto pt-2">
        <h2>About</h2>
    </div>
    <div class="card-body mx-auto text-center">
        <h6>Bienvenido a noteWork, aquí podrá almacenar sus notas rápidas.</h6>
        <h6>En versiones posteriores se añadirán otras funcionalidades</h6>
    </div>
</div>